---
layout: page
title: Commissions
permalink: /commissions/
date: 2015-09-23T14:11:44-04:00
modified: 2016-03-03T10:29:27-05:00
---

<p> Liste des commissions lancées à Nuit Debout Epinal.</p>
<p><em>
  N'hésitez pas à vous manifester si vous souhaitez participer à l'une des commissions ou en proposer une autre !
</em></p>

<div class="tiles">
{% assign sorted_commissions = (site.data.commissions | sort: 'title') %}


{% for commission in sorted_commissions %}
  <article class="tile" itemscope itemtype="http://schema.org/Article">
    <a href="{{ site.url }}/commissions/{{commission.symbol}}" title="{{ commission.title }}" class="post-teaser">
      {% if commission.image.teaser %}
        <img src="{{ site.url }}/images/{{ commission.image.teaser }}" alt="teaser" itemprop="image">
      {% else %}
        <img src="{{ site.url }}/images/{{ site.teaser }}" alt="teaser" itemprop="image">
      {% endif %}
    </a>
    {% if commission.date %}<p class="entry-date date published"><time datetime="{{ commission.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ commission.date | date: "%B %d, %Y" }}</time></p>{% endif %}
    <h2 class="post-title" itemprop="name">
      <a href="{{ site.url }}/commissions/{{commission.symbol}}">{{ commission.title }}</a>
    </h2>
    <p class="post-excerpt" itemprop="description">{{ commission.description | strip_html | truncate: 100 }}</p>
    <div class="inline-btn">
    <a class="btn btn-secondary" href="{{ site.url }}/commissions/{{commission.symbol}}" title="Voir la page de la commission {{commission.title}}">Voir la page</a>
    <a class="btn btn-secondary" href="{{ commission.coordination_link }}" title="Contacter ou participer à la commission {{commission.title}}">Contacter</a>

    </div>
  </article>
{% endfor %}
</div>
