---
layout: home
permalink: /
image:
  feature: pic-nd-02.jpg
---

<div class="wrap">

<!--   <div class="notice">
    <h3>Avoir plus d'infos et participer</h3>
    <p> Si vous souhaitez vous impliquer, n'hésitez pas à nous rejoindre place des Vosges<br> ou à nous contacter via twitter, facebook, email !</p>
    <div class="inline-btn">
      <a class="btn btn-primary" href="{{ domain }}/commissions/">Contacter et participer aux commissions </a>
      <a href="#" class="btn-social instagram"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
      <a href="#" class="btn-social linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
    </div>
  </div> -->


  <div class="col-8">

    <section>
      <h2 class="page-heading">Actualités</h2>
      <div class="tiles wrap">
        {% for post in site.posts | limit: 4 %}
          <div class="tile post-style col-2">
            {% include post-tile.html %}
          </div>
        {% endfor %}
      </div>
      <a class="btn btn-primary pull-right" href="{{ domain }}/actus/" title="Voir toutes les actus">Voir toutes les actus</a>
      <div class="clearfix"></div>
    </section>

    <section>
  <h2>Avoir plus d'infos et participer</h2>
  <p> Si vous souhaitez vous impliquer, n'hésitez pas à nous rejoindre place des Vosges<br> ou à nous contacter via twitter, facebook, email !</p>
  <div class="center">
    <a class="btn btn-primary" href="{{ domain }}/commissions/">Contacter et participer aux commissions </a>
  </div>
  <ul class="list link-list">
    <li>
      <span class="link-title">Mail contact : </span>
      <a href="mailto:nuitdebout.epinal@openmailbox.org">nuitdebout.epinal@openmailbox.org</a>
    </li>
  </ul>
  <ul class="list link-list">
    {% for link in site.data.nde-links %}
    <li>
      <span class="link-title">{{link.title}} : </span>
      <a href="{{link.url}}">{{link.url}}</a>
    </li>
    {% endfor %}
  </ul>

</section>
  </div>





  <div class="col-4">
    {% assign current_time = site.time | date: "%s" %}

    <section>
      <h2>Les prochaines dates</h2>
      <div class="tiles wrap">
        <!-- ugly code to extract only future dates -->

        {% for night in site.data.agenda %}
          {% assign night_time = night.date | date: "%s" %}
          {% if current_time < night_time %}
            {% include rassemblement-tile.html col_count=1 %}
          {% endif %}
        {% endfor %}
      </div>
      <a class="btn btn-primary" href="{{ domain }}/rassemblements/" title="Voir toutes les dates">
        <i class="fa fa-th-list"></i> Toutes les dates
      </a>
    </section>



    <section>
      <h3>Agenda convergence</h3>

<!--         {% for event in site.data.convergence | future('date') %}
        <div class="review-header">
          <span class="review-date">{{ event.date | date: "%d/%m/%Y" }} - </span>
          <span class="review-title">{{event.title}} </span>
        </div>
         {% endfor %} -->



        <ul class="list event-list ">
          {% for event in site.data.convergence %}
            {% assign event_time = event.date | date: "%s" %}
            {% if current_time <= event_time %}

                  <li class="event-tile">
                    <div class="event-header">
                      <span class="event-date">{{ event.date | date: "%d/%m/%Y" }}</span>
                      {% if event.organizer %}
                      <span class="event-organizer">- {{event.organizer}}</span>
                      {% endif %}
                    </div>
                    <div class="event-title">
                      <span class="">{{event.title}} </span>
                    </div>
                     <div class="event-location"><i class="fa fa-map-marker"></i> {{ event.location }}</div>
                    <a href="{{event.link_url}}" target="_blank">Plus d'infos</a>
                  </li>


             {% endif %}

          {% endfor %}
        </ul>
    </section>
  </div>

</div>





