---
layout: home
permalink: /
image:
  feature: pic-nd-02.jpg
---

<div class="wrap">

<!--   <div class="notice">
    <h3>Avoir plus d'infos et participer</h3>
    <p> Si vous souhaitez vous impliquer, n'hésitez pas à nous rejoindre place des Vosges<br> ou à nous contacter via twitter, facebook, email !</p>
    <div class="inline-btn">
      <a class="btn btn-primary" href="{{ domain }}/commissions/">Contacter et participer aux commissions </a>
      <a href="#" class="btn-social instagram"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
      <a href="#" class="btn-social linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
    </div>
  </div> -->


  <div class="col-8">

    <section>
      <h2 class="page-heading">Actualités</h2>
      <div class="tiles wrap">
        {% for post in site.posts | limit: 4 %}
          <div class="tile post-style col-2">
            {% include post-tile.html %}
          </div>
        {% endfor %}
      </div>
    <a class="btn btn-primary pull-right" href="{{ domain }}/actus/" title="Voir toutes les actus">Voir toutes les actus</a>
<!--     <a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a> -->
    </section>
  </div>

  <div class="col-4">
    <section>
      <h2>Les prochaines dates</h2>
      <div class="tiles wrap">

        <!-- ugly code to extract only future dates -->
        {% assign current_time = site.time | date: "%s" %}

        {% for night in site.data.agenda %}
          {% assign night_time = night.date | date: "%s" %}
          {% if current_time < night_time %}
            <div class="tile agenda-style col-1">
              <h2 class="tile-title">
                <span class="tile-title-main ">{{ night.date_nd }} ({{ night.date_normal }}) </span>
              </h2>
              <p class="tile-location">{{ night.location }}, {{ night.hour }}</p>
              {% if night.theme %}
                <p class='tile-theme'>
                Thème :
                  <span class='tile-theme-name'>{{ night.theme}}</span>
                </p>
              {% endif %}
              <a class="btn btn-secondary" target="_blank" href="{{ night.wiki_link }}" title="Programme et infos supplémentaires">Voir le détail</a>
            </div>
          {% endif %}
        {% endfor %}

      </div>
    </section>
  </div>
</div>


<!-- <section>
  <div class="wrap">
    <div class="col-8"></div>
    <div class="col-4"></div>
  </div>
</section> -->



<section>
  <h2>Avoir plus d'infos et participer</h2>
  <p> Si vous souhaitez vous impliquer, n'hésitez pas à nous rejoindre place des Vosges<br> ou à nous contacter via twitter, facebook, email !</p>
  <div class="center">
    <a class="btn btn-primary" href="{{ domain }}/commissions/">Contacter et participer aux commissions </a>
  </div>
  <ul class="list link-list">
    <li>
      <span class="link-title">Mail contact : </span>
      <a href="mailto:nuitdebout.epinal@openmailbox.org">nuitdebout.epinal@openmailbox.org</a>
    </li>
  </ul>
  <ul class="list link-list">
    {% for link in site.data.nde-links %}
    <li>
      <span class="link-title">{{link.title}} : </span>
      <a href="{{link.url}}">{{link.url}}</a>
    </li>
    {% endfor %}
  </ul>

</section>

